<h1>VG Uppgiften Vowles</h1>
<ul>
    <% words.forEach((word,index) => {
        %><li><!-- Skriver ut lista av ord och hur m책nga vokaler blir det -->
            <p>"<%= word %>"</p>
            <p>Has <%= numbers[index]%> vowels</p>
        </li> <%
    }) %>
</ul>
<form action="/api/addword" method="POST">
    <!-- N채r man trycker p책 kanppen do rediretas till post och request blir namnet p책 input-->
    <input type="text" name="newWord" placeholder="write word">
    <button>Submit word</button>
</form>