<h1>VG Exercise Vowles</h1>
<ul>
    <% words.forEach((word,index) => {
        %><li><!-- Prints a list of words and how many vowels there are -->
            <p>"<%= word %>"</p>
            <p>Has <%= numbers[index]%> vowels</p>
        </li> <%
    }) %>
</ul>
<form action="/api/addword" method="POST">
    <!-- When you press the do redirect to post the name attribute value-->
    <input type="text" name="newWord" placeholder="write word">
    <button>Submit word</button>
</form>